[report]
omit =
    setup.py
    conda_project/__main__.py
    conda_project/_version.py
    versioneer.py
    tests/*
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
